
<h2>
    Current Medications
    <span ng-show="SignInService.user.drugs">({{ SignInService.user.drugs.length }})</span>
</h2>

<div class="medlist">
    <!-- No medications for user -->
    <p ng-hide="SignInService.user.drugs">
        None
    </p>


    <!-- div class="medication" ng-repeat="drug in SignInService.user.drugs">
        <h3><a href="#/meds/{{drug.fdaId}}">{{ drug.brandName[0] }}</a></h3>
        <div class="med-info">
            <p>
                Generic Names:
                <span ng-repeat="nm in drug.genericName">{{ nm }}</span>
            </p>

        </div>
    </div -->
    <div class="medication container-fluid" ng-repeat="drug in SignInService.user.drugs">
        <div class="row">
            <div class="col-xs-12">
                <h3><a href="#/meds/{{drug.fdaId}}">{{ drug.brandName[0] }}</a></h3>
                <p>
                    Generic Names:
                    <span ng-repeat="nm in drug.genericName">{{ nm }}</span>
                </p>
                <button class="btn btn-default pull-right">
                    View Details
                </button>
            </div>
        </div>
    </div>

</div>
