node_modules
npm-debug.log
build
dist
bower_components
reports
coverage
**/*.pyc
.idea/
.idea/workspace.xml
.tmp
.sass-cache
.DS_Store

ui/app/styles/site*.css
ui/app/styles/vendor*.css
ui/app/scripts/main*.js
ui/app/scripts/vendor*.js
ui/app/scripts/config.js
server/newrelic_agent.log
