// Dark Fantasy
// https://color.adobe.com/Dark-Fantasy-color-theme-1015567/edit/?copy=true
$df_1: #566669;
$df_2: #bfe2ff;
$df_3: #0a131a;
$df_4: #122031;
$df_5: #00010d;

// Use these colors
$light: #eeecef;
$dark: $df_3;
