<h2>Drug Recall News</h2>


<div class="newsitem">
    <strong>06/13/2015</strong>
    <p>
        G&C Natural Nutrition, Inc. Issues Voluntary Nationwide Recall of Pyrola Due to Undeclared Drug Ingredients
    </p>
</div>

<div class="newsitem">
    <strong>06/08/2015</strong>
    <p>
        Mylan is Expanding its Voluntary Nationwide Recall of Select Lots of Injectable Products Due to the Presence of Particulate Matter
    </p>
</div>

<div class="newsitem">
    <strong>06/03/2015</strong>
    <p>
        SmartLipo365 Issues Voluntary Nationwide Recall of Smart Lipo Due to Undeclared Sibutramine, Desmethylsibutramine, and Phenolphthalein
    </p>
</div>

<div class="newsitem">
    <strong>05/04/2015</strong>
    <p>
        Teva Parenteral Medicines Initiates Voluntary Nationwide Recall of Select Lots of Adrucil® (fluorouracil Injection, USP) 5 g/100 mL (50 mg/mL) Due to Particulate Matter
    </p>
</div>

<div class="newsitem">
    <strong>04/23/2015</strong>
    <p>
        Mylan Initiates Voluntary Nationwide Recall of Select Lots of Injectable Products Due to the Presence of Particulate Matter
    </p>
</div>
