@media (max-width: 768px) {
	main {
		.btn,
		button {
			width: 100%;
		}
	}
}

button[ng-click="saveProfile()"] {
	margin-top: 15px;
}

@media (max-width: 1200px) {
	button[ng-click="saveProfile()"] {
		float: none !important;
		width: 100%;
	}
}

// Medication Search 
.dropdown-menu.ng-isolate-scope {
	width: 100%;
}

@media (max-width: 768px) {
	.dropdown-menu.ng-isolate-scope {
		//position: absolute;
	}
}

@media (min-width: 1200px) {
	.dropdown-menu.ng-isolate-scope {
		max-width: 359px;
	}
}

label.required:after {
	content:"*";
	color:$brand-red;
}

.red-text {
	color:$brand-red;
	display:inline;
}

