.med-list-detail {
	display: table;
	padding: 20px 0;
	width: 100%;
	border-bottom: 1px solid $gray-light;

	h3 {
		margin-top: 0;
	}

	.detail-left {
		display: block;	
		width: 100%;
		vertical-align: middle;
	}

	.detail-right {
		display: block;
		text-align: left;
		vertical-align: middle;
	}
}

@media (min-width: 768px) {
	.med-list-detail {
		.detail-left {
			display: table-cell;	
			width: 75%;
		}

		.detail-right {
			display: table-cell;
			text-align: center;
		}
	}
}

.medication {
	&:last-of-type {
		.med-list-detail {
			border: 0;
		}
	}

	h3 {
		font-size: 18px;
		margin-top: 0;
	}
}

@media (max-width: 768px) {
	.medication {
		button {
			margin-top: 15px;
		}
	}
}

.medlist {
	h1 {
		margin-top: 0;
		margin-bottom: 20px;
	}

	
	h6 {
		margin-top: 30px;
	}
}

.med-info {
	text-align: center;

	div:first-of-type h4 {
		margin-top: 0;
	}

	h4, p {
		text-align: left;
	}

	p {
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 1.0em;
	}

	h4 {
		color: $brand-blue;
		padding: 10px 10px 0 10px;
	}
}

.ae {
	display: inline-block;
	vertical-align: top;
	width: 152px;
	text-align: center;
	margin-right: 8px;
	margin-left: 8px;
	margin-top: 20px;
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	.ae {
		margin-top: 20px;
		margin-bottom: 0;
	}
}

.ae-count {
	background-color: $gray-dark;
	padding: 20px 10px;
	color: #FFF;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	display: block;
	text-align: center;
	vertical-align: middle;
	margin: 0px auto;
}


.ae-name {
	margin-top: 15px;
  	display: block;
}
