.sidebar ais-sidebar {
	padding-top: 15px;
	padding-bottom: 30px;
  	border-top: 1px solid $gray-light;
  	margin-top: 45px;
}

.sidebar ais-search-sidebar {
	padding-bottom: 45px;
  	border-bottom: 1px solid $gray-light;
  	margin-bottom: 45px;

  	.input-group {
  		
  	}

  	.input-group-btn {
  		button {
  			height: 34px;
  		}
  	}
}

@media (min-width: 1200px) {
	.sidebar ais-sidebar {
		padding-top: 0;
		margin-top: 0;
		border: 0;
	}

	.sidebar ais-search-sidebar {
		padding-bottom: 0;
		margin-bottom: 0;
		border: 0;
	}
}
