
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" aria-expanded="false"
                ng-click="toggleMenu()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <img src="images/logo.png" alt="AgileBPA Logo" title="AIS Agile BPA" />
            </a>
        </div>

        <div class="collapse navbar-collapse"
            ng-class="{true:'show', false: 'hide'}[menuOn]">

            <ul class="nav navbar-nav">
                <li><a href="#/">Home</a></li>
                <li ng-show="profile"><a href="#/meds">My Medications</a></li>
                <li ng-hide="profile"><a href="#/profile/create">My Medications</a></li>
                <li><a href="#/about">About</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right"
                ng-show="profile">
                <li><a href="#/profile">{{ profile.firstName }} {{ profile.lastName }}</a></li>
                <li><a ng-click="signOut()">Sign Out</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right"
                ng-hide="profile">

                <li><a href="#/profile/signin">Sign In</a></li>
                <li><a href="#/profile/create">Create Profile</a></li>

            </ul>
        </div>

    </div>
</nav>
