
<div class="gray-container">
    <form>

<!-- Name -->
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label for="inputProfileFirstName">
                First Name
                <span class="text-danger"
                    ng-if="inputs.firstName.error">
                    - {{ inputs.firstName.error }}
                </span>
            </label>
            <input type="text"
                class="form-control"
                id="inputProfileFirstName"
                name="inputProfileFirstName"
                ng-model="inputs.firstName.value" />
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label for="inputProfileLastName">
                Last Name
                <span class="text-danger"
                    ng-if="inputs.lastName.error">
                    - {{ inputs.lastName.error }}
                </span>
            </label>
            <input type="text"
                class="form-control"
                id="inputProfileLastName"
                name="inputProfileLastName"
                ng-model="inputs.lastName.value" />
        </div>
    </div>
</div>

<!-- Email -->
<div class="row">
    <div class="col-lg-12">
        <!-- Email -->
        <div class="form-group">
            <label for="inputProfileEmail">
                Email
                <span class="text-danger"
                    ng-if="inputs.email.error">
                    - {{ inputs.email.error }}
                </span>
            </label>
            <input type="email"
                class="form-control"
                id="inputProfileEmail"
                name="inputProfileEmail"
                ng-model="inputs.email.value" />
        </div>
        <!-- Email Confirmation -->
        <div class="form-group">
            <label for="inputProfileEmailConf">
                Re-enter Email
                <span class="text-danger"
                    ng-if="inputs.emailConf.error">
                    - {{ inputs.emailConf.error }}
                </span>
            </label>
            <input type="email"
                class="form-control"
                id="inputProfileEmailConf"
                name="inputProfileEmailConf"
                ng-model="inputs.emailConf.value" />
        </div>
    </div>
</div>

<!-- Submit Button -->
<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-default pull-right" ng-click="saveProfile()">
            Update
        </button>
    </div>
</div>


</form>
</div>
