
<form>

<!-- Name -->
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label for="inputProfileFirstName">First Name</label>
            <input type="text" class="form-control" id="inputProfileFirstName" />
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label for="inputProfileLastName">Last Name</label>
            <input type="text" class="form-control" id="inputProfileLastName" />
        </div>
    </div>
</div>

<!-- Email -->
<div class="row">
    <div class="col-lg-12">
        <!-- Email -->
        <div class="form-group">
            <label for="inputProfileEmail">Email</label>
            <input type="email" class="form-control" id="inputProfileEmail" />
        </div>
        <!-- Email Confirmation -->
        <div class="form-group">
            <label for="inputProfileEmailConf">Re-enter Email</label>
            <input type="email" class="form-control" id="inputProfileEmailConf" />
        </div>
    </div>
</div>

<!-- Terms -->
<div class="row">
    <div class="col-lg-12">
        <div class="checkbox">
            <label>
                <input type="checkbox" id="inputProfileTerms" />
                By clicking this you agree to our Terms and have read our Policy.
            </label>
        </div>
    </div>
</div>

<!-- Submit Button -->
<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-lg pull-right" type="submit">
            Sign Up
        </button>
    </div>
</div>


</form>
