
<form class="profile-form">

<!-- Name -->
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label class="required" for="inputProfileFirstName">
                First Name
                <span class="text-danger"
                    ng-if="inputs.firstName.error">
                    - {{ inputs.firstName.error }}
                </span>
            </label>
            <input type="text"
                class="form-control"
                id="inputProfileFirstName"
                name="inputProfileFirstName"
                ng-model="inputs.firstName.value" />
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label class="required" for="inputProfileLastName">
                Last Name
                <span class="text-danger"
                    ng-if="inputs.lastName.error">
                    - {{ inputs.lastName.error }}
                </span>
            </label>
            <input type="text"
                class="form-control"
                id="inputProfileLastName"
                name="inputProfileLastName"
                ng-model="inputs.lastName.value" />
        </div>
    </div>
</div>

<!-- Email -->
<div class="row">
    <div class="col-lg-12">
        <!-- Email -->
        <div class="form-group">
            <label class="required" for="inputProfileEmail">
                Email
                <span class="text-danger"
                    ng-if="inputs.email.error">
                    - {{ inputs.email.error }}
                </span>
            </label>
            <input type="email"
                class="form-control"
                id="inputProfileEmail"
                name="inputProfileEmail"
                ng-model="inputs.email.value" />
        </div>
        <!-- Email Confirmation -->
        <div class="form-group">
            <label class="required" for="inputProfileEmailConf">
                Re-enter Email
                <span class="text-danger"
                    ng-if="inputs.emailConf.error">
                    - {{ inputs.emailConf.error }}
                </span>
            </label>
            <input type="email"
                class="form-control"
                id="inputProfileEmailConf"
                name="inputProfileEmailConf"
                ng-model="inputs.emailConf.value" />
        </div>
    </div>
</div>

<!-- Password -->
<div class="row">
    <div class="col-lg-12">
        <!-- Email -->
        <div class="form-group">
            <label class="required" for="inputProfilePassword">
                Password
                <span class="text-danger"
                    ng-if="inputs.password.error">
                    - {{ inputs.password.error }}
                </span>
            </label>
            <input type="password"
                class="form-control"
                id="inputProfilePassword"
                name="inputProfilePassword"
                ng-model="inputs.password.value" />
        </div>
        <!-- Password Confirmation -->
        <div class="form-group">
            <label class="required" for="inputProfilePasswordConf">
                Re-enter Password
                <span class="text-danger"
                    ng-if="inputs.passwordConf.error">
                    - {{ inputs.passwordConf.error }}
                </span>
            </label>
            <input type="password"
                class="form-control"
                id="inputProfilePasswordConf"
                name="inputProfilePasswordConf"
                ng-model="inputs.passwordConf.value" />
        </div>
    </div>
</div>

<!-- Terms -->
<div class="row">
    <div class="col-lg-12">
        <div class="checkbox">
            <label class="required">
                <input type="checkbox"
                    id="inputProfileTerms"
                    name="inputProfileTerms"
                    ng-model="inputs.terms.value" />
                By clicking this you agree to our Terms and have read our Policy.
                <span class="text-danger"
                    ng-if="inputs.terms.error">
                    - {{ inputs.terms.error }}
                </span>
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <p><div class="red-text">*</div> Indicates required field</p>
    </div>
</div>

<!-- Submit Button -->
<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-default pull-right" ng-click="saveProfile()">
            Sign Up
        </button>
    </div>
</div>


</form>
