<h3>Add Medication</h3>

<div>
    <p>
        To add a new medication, enter the name of the medicine in the search
        box. Once you find the medicine you are looking for,
        click the Add medication button.
    </p>


    <label>Search</label>
    <div class="input-group">
        <input type="text" ng-model="drug" placeholder=""
            typeahead="drug as drug.brandName[0] for drug in search($viewValue) | limitTo:10" typeahead-loading="loadingDrugs" class="form-control">
        <div class="input-group-btn">
            <button class="btn btn-default pull-right"  ng-click="addUserDrug(drug)" ng-disabled="!drug.fdaId">
                Add
            </button>
        </div>
    </div>


    <div ng-show="loadingDrugs">
        <h4>Searching...</h4>
    </div>

    <div ng-show="showResults">
        <h4>Search Results</h4>
        <div ng-repeat="drug in results">
            <h4>{{drug.brandName[0]}}</h4>
            GENERIC NAME(S): {{drug.genericName[0]}}
            <div>
                <button class="btn btn-default" ng-click="addUserDrug(drug)" ng-show="ProfileService.user">Add Medication</button>
            </div>
        <div>
    </div>

</div>
